<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="XhtmlValidator" value="http://validator.w3.org/check?uri=http://" />
    <add key="CssValidator" value="http://jigsaw.w3.org/css-validator/validator?warning=0&amp;profile=css2&amp;uri=http://" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
